#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
input {
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid grey;
  color: rgb(59, 59, 59);
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
input:disabled {
  color: rgb(253, 253, 253);
  background-color: rgb(201, 90, 16);
}

.button:disabled {
  color: rgb(253, 253, 253);
  background-color: rgb(59, 59, 59);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.category_wrapper {
  position: relative;
  width: fit-content;
}
.label {
  font-size: 16px;
  padding: 12px;
  border: 1px solid black;
}

.label.category {
  color: rgb(253, 253, 253);
  background-color: rgb(201, 90, 16);
}

.label.category.subcategory {
  background-color: rgb(67, 67, 145);
}

button {
  border-radius: 50%;
  background-color: grey;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border: none;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(169, 171, 174, 0.2) 0px 8px 24px;
  transition: background-color ease-in-out 350ms, box-shadow ease-in-out 350ms;
}
.buttonIcon {
  width: 22px;
  height: 22px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.save {
  background-color: #17c517;
}

.add:hover,
.save:hover,
.add:focus,
.save:focus {
  background-color: #169616;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.remove {
  background-color: #ffc107;
}
.remove:hover,
.edit:hover,
.remove:focus,
.edit:focus {
  background-color: #b48805;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.delete {
  background-color: rgb(152, 20, 20);
}
.delete:hover,
.delete:focus {
  background-color: rgb(111, 15, 15);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.actions,
.inputActions {
  position: absolute;
  right: -106px;
  top: 50%;
  transform: translateY(-50%);
  gap: 4px;
  display: flex;
}
.actions.main {
  right: -40px;
}
.inputActions {
  right: -72px;
}

.list,
.card {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  padding-right: 116px;
}
.card {
  flex-direction: column;
}
.list {
  padding: 24px;
  column-gap: 24px;
  justify-content: flex-start;
  align-items: baseline;
}

.input {
  text-transform: capitalize;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid grey;
  color: rgb(59, 59, 59);
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
